In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('online.csv')

In [41]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [40]:
df.shape

(50, 5)

In [38]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

# Statistically Analyze

In [5]:
df.describe()

       Marketing Spend  Administration      Transport         Profit
count        50.000000       50.000000      50.000000      50.000000
mean      73721.615600   121344.639600  211025.097800  112012.639200
std       45902.256482    28017.802755  122290.310726   40306.180338
min           0.000000    51283.140000       0.000000   14681.400000
25%       39936.370000   103730.875000  129300.132500   90138.902500
50%       73051.080000   122699.795000  212716.240000  107978.190000
75%      101602.800000   144842.180000  299469.085000  139765.977500
max      165349.200000   182645.560000  471784.100000  192261.830000

In [6]:
df.corr()

                 Marketing Spend  Administration  Transport    Profit
Marketing Spend         1.000000        0.230437   0.685442  0.937948
Administration          0.230437        1.000000  -0.032154  0.200717
Transport               0.685442       -0.032154   1.000000  0.747766
Profit                  0.937948        0.200717   0.747766  1.000000

# One-Hot Encoding

In [7]:
x = df.drop(['Profit'], axis = 1)

In [8]:
y = df['Profit']

In [9]:
dummies = pd.get_dummies(x['Area'], drop_first = True)

In [10]:
x = x.drop('Area', axis = 1)

In [11]:
x = pd.concat([x, dummies], axis = 1)

In [36]:
print(x.head())

   Marketing Spend  Administration  Transport  Dhaka  Rangpur
0        114523.61       136897.80  471784.10      1        0
1        162597.70       151377.59  443898.53      0        0
2        153441.51       101145.55  407934.54      0        1
3        144372.41       118671.85  383199.62      1        0
4        142107.34        91391.77  366168.42      0        1

# Linear Regression Model

In [14]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 1)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lreg = LinearRegression()

In [20]:
lreg.fit(x_train, y_train)

LinearRegression()

In [21]:
print(lreg.predict(x_test))

[128970.94931164  94828.31285859  81731.56746651  75895.19562524
 176099.90741867 173273.75118269  44515.20084462 103041.30105485
  77625.00002628  98509.81855802  90346.91052112  84224.18281902
 129815.7234491 ]

In [22]:
accuracy = lreg.score(x_test, y_test)

In [23]:
print("Accuracy: ", accuracy*100, '%')

Accuracy:  90.47265530273863 %

In [42]:
print(lreg.predict([[150000, 135000, 485000, 0, 1]]))

[185074.37995337]

# R- Squared Value

In [24]:
from sklearn.metrics import r2_score

In [25]:
predictions = lreg.predict(x_test)

In [26]:
print('R-square value: ', r2_score(y_test, predictions))

R-square value:  0.9047265530273864